body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 50vh;
  size: 50vh;
  background-image: url('https://image.freepik.com/fotos-gratis/fronteira-de-laranjas-e-folhas_23-2147931397.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section#assistente {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 90%;
  text-align: center;
  float: center;
}

section#bate-papo {
  overflow: auto;
  height: 100%;
  text-align: left;
  background-color: white;
  opacity: 50%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
}

form#formularioBatePapo {
  width: auto;
}

input.texto {
  width: 80%;
  min-width: 50px;
}

@media screen and (min-width: 400px) {
  img#imagemCardapio {
    height: 42em;
  }
}

@media screen and (max-width: 400px) {
  img#imagemCardapio {
    width: 100%;
  }

  direito {
    width: 100%;
  }
}

section#pedidos{
  position: absolute;
  top: 1%;
  left: 1%;
  float: left;
  border-color: orangered;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  background-color: white;
}

aside#cardapio{
  position: absolute;
  top: 1%;
  right: 1%;
  float: right;
  border-color: orangered;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  background-color: white;
}

button#mostra {
  border-radius: inherit;
  font-size: 1.5em;
  cursor: pointer;
  border-style: solid;
  background-color: inherit;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
}

.esquerdo {
  left: 0;
}

.direito {
  right: 0;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: orangered;
}

.menu .botaoFechar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

section#principal {
  height: 100%;
}

input#botaoEnviar {
  border-radius: 20px;
  cursor: pointer;
  border-style: solid;
  border-color: orangered;
  background-color: white;
  font-weight: bold;
  width: 60px;
}

p.laranjinha {
  color: orangered;
}

p.voce {
  color: darkgreen;
}

h2 {
  text-align: center;
}

p.pedido {
  text-align: center;
}